{% extends 'base.html' %}

{% block title %}Criar Solicitação{% endblock %}

{% block content %}
<div class="container p-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <label for="titulo">Budget (Mensal):</label>
                <input class="form-control" type="number" id="budget" name="budgetm">
            </div>
            <div class="mb-3">
                <label for="titulo">Budget (Anual):</label>
                <input class="form-control" type="number" id="budget" name="budgeta">
            </div>
        </div>
      </div>
    <h2 class="text-center">Criar Solicitação de Orçamento</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo">Título:</label>
            <input class="form-control" type="text" id="titulo" name="titulo" required>
        </div>
        
        <div class="mb-3">
            <label for="descricao">Descrição:</label>
            <textarea class="form-control" id="descricao" name="descricao" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Criar Solicitação</button>
    </form>
    <hr>
    <h2 class="text-center">Minhas Cotações</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Número do contrato</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Data Contrato</th>
                <th scope="col">Valor da proposta</th>
                <th scope="col">Título da cotação</th>
                <th scope="col">Anexo do contrato</th>
            </tr>
            
        </thead>
        <tbody>
            <tr>
            {% for i in contratos %}    
              <th scope="row">{{ i.id }}</th>
              <td>{{ i.fornecedor }}</td>
              <td>{{ i.data_contrato }}</td>
              <td>{{ i.valor_proposta }}</td>
              <td>{{ i.solicitacao.titulo }}</td>
              <td>
                {% if i.anexo %}
                <a href="{{ i.anexo.url }}" class="btn btn-success btn-sm" target="_blank">Baixar</a>
                {% else %}
                <span class="text-muted">Não disponível</span>
                {% endif %}
             </td> 
             {% endfor %} 
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
